<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="row text-center">
            <h2 class="title">Contact Us</h2>
            <div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                <p>We’d love to hear from you</p>
                <ul class="list-unstyled contact-details">
                    <li><i class="fa fa-envelope"></i><a href="mailto:support@duoco.de">support@duoco.de</a></li>
                    <li><i class="fa fa-link"></i><a href="http://support.duoco.de">http://support.duoco.de</a></li>
                </ul>
            </div>
        </div><!--//row-->
        <div class="row text-center">
             <ul class="social-icons list-inline">
                <li><a href="https://twitter.com/duocoders" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <!--//social-icons-->
            <ul class="social-icons-small list-inline">
            <p>Spread the word</p>
            <!-- Twitter -->
            <a href="http://twitter.com/home?status=Take your C%23 code and skills
to the web with %23DuoCode: C%23-to-JavaScript compiler http://duoco.de/ @DuoCoders" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
             <!-- Facebook -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=duoco.de" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
            <!-- Google+ -->
            <a href="https://plus.google.com/share?url=http://duoco.de" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
            <!-- StumbleUpon -->
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://duoco.de&title=DuoCode&summary=Take your C%23 code and skills
to the web
with DuoCode: C%23-to-JavaScript compiler" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
            </ul>
        </div><!--//row-->
    </div><!--//container-->
</section><!--//contact-->