 <!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container" style="font-size: 90%">
        <small class="copyright pull-left">Copyright &copy; 2015 DuoCode</small>
        <small class="copyright pull-right">Microsoft, Visual Studio, Visual C#, .NET and Windows are either registered trademarks or trademarks of Microsoft Corporation in the United States and/or other countries</small>
       <ul class="links list-inline">
            <!--<li><a href="#">Terms</a></li>-->
            <!--<li><a href="#">Privacy</a></li>-->
        </ul>
    </div>
</footer><!--//footer-->