<!-- ******HEADER****** -->
<header id="top" class="header navbar-fixed-top">
    <div class="container">
        <h1 class="logo pull-left">
            <a href="http://duoco.de/">
                <img id="logo-image" class="logo-image" src="{{ ASSET_PATH }}/images/logo/logo.png" alt="Logo">
                <span class="logo-title"></span>
            </a>
        </h1>
        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item sr-only" id="home"><a href="http://duoco.de/">Home</a></li>
                    <li class="nav-item" id="nav-features"><a href="http://duoco.de/#features">FEATURES</a></li>
                    <li class="nav-item" id="nav-download"><a href="http://duoco.de/download">DOWNLOAD</a></li>
                    <li class="nav-item" id="nav-faq"><a href="http://duoco.de/faq">FAQ</a></li>
                    <li class="nav-item" id="nav-support"><a href="http://support.duoco.de" target="_blank">SUPPORT</a></li>
                    <li class="nav-item active" id="nav-blog"><a href="http://blog.duoco.de" >BLOG</a></li>
                    <li class="nav-item" id="nav-contact"><a class="scrollto" href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </nav>
</header>